@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
    background-color: rgba(137, 43, 226, 0.466);
    color: black;

    font-size: 18px;
    font-style: normal;
    font-family: "Oswald", sans-serif;
}

.container {
    max-width: 750px;
    margin: auto;
    padding-top: 20px;
}

/* head block */

.info {
    display: flex;
    margin-bottom: 20px;
}

.ava {
    height: 200px;
    width: 200px;
    border-radius: 25px;
}

.info-text {
    margin-left: 40px;
}

.info h1 {
    margin: 0;
    margin-bottom: 20px;
}

.info p {
    color: rgba(0, 0, 0, 0.623);
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    margin: 0;
}

.info-text h4 {
    margin: 0;
    padding: 10px 0 5px;    
}

.bg-violet {
    background-color: rgb(173, 104, 238);
}

.bg-yellow {
    background-color: lightgoldenrodyellow;
}

.bg-green {
    background-color: lightgreen;
}

.card h2 {
    margin-bottom: 5px;
}

.card {
    padding: 5px 30px;
    margin-bottom: 15px;
    border-radius: 20px;
}

.list {
    padding: 0 50px;
}

.list li {
    color: rgba(0, 0, 0, 0.623);
}

.table {
    width: 100%;
}

.table td {
    padding: 30px;
}

.table td:nth-child(2), .table td:nth-child(3) {
    color: rgba(0, 0, 0, 0.623);
}

.link-list {
    list-style: none;
    padding: 0;
}

.link-list li {
    margin-bottom: 10px;
    padding: 5px;
    border-bottom: 1px solid rgb(255, 251, 0);
}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.527);
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: aliceblue;
}

a:visited {
    color: rgb(118, 0, 173);
}

.contacts h2 {
    text-align: center;
}

.form-group label {
    display: block;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.527);
}

.form-group input, .form-group textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.527);
    color: #000;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
    font-size: 20px;
}

.row {
    display: flex;
    margin-bottom: 20px;
}

.row > .form-group {
    width: 50%;
    margin-right: 20px;
}

.btn {
    background: #000;
    color: #fff;
    padding: 10px 40px;
    border: none;
    font-family: inherit;
    cursor: pointer;
    font-size: 15px;
}

.btn:hover {
    opacity: 0.9;
}

.box {
    position:fixed;
    top: 10px;
    left: 10px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 5px solid royalblue;
    background: transparent;
}

.box:hover {
    opacity: 0.7;
    border-color: rgb(255, 251, 0);
    background: greenyellow;
}